body{
    background-image: linear-gradient(to right,#314755 0%, #26a0da 100%);
    height:100%;
    overflow-x: hidden;
}

.loginForm{
    margin-top:1%;
    margin-left:30%;
    width:50%;
}

label{
    font-family:Bookman L, serif;
    font-size:150%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  
  .button3 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    margin-left:20%;
  }

  .greetingstyle1{
      color:#fff;
      margin-left:30%;
      margin-top:8%;

  }

  .greetingstyle2{
      color:#fff;
    margin-bottom:2.5%;
    font-family:cursive;
    margin-left:37%;
    margin-top:-20px;
  }