.loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    margin-left: 5%;
}

.loginbutton:hover {
    box-shadow: -0.5px 2px 4px 3px #888888;
    color: white;
    text-decoration: none;
}

.logoutHead {
    color: white;
}