form{
    width:90%;
    margin-left:60px;
    margin-top:-30px;
    
}

@media only screen and (min-width: 1000px) and (min-height: 570px) {
    body {
      overflow-y:hidden;
    }
  }

.quality{
    margin-left:30px;
    font-family:'Lucida Sans Unicode';
    font-size:1.2em;
    color:#fff;
    margin-top:20px;
}

.deliveryunit{
    width:85%;
    margin-left:30px;
}

.sname{
    margin-top:30px;
    margin-bottom:-20px;
}

.serviceInfo{
    margin-left:35%;
    align-content: center;
    margin-bottom: 30px;
    font-family:American Typewriter, serif;
    color:#fff;
}

.mname{
    margin-top:-20px;
    margin-bottom:-20px;
}

.yearpick{
    margin-top:-20px;
    margin-left:30px;
}

.iconstyle{
    margin-right:5px;
    margin-left:-10px;
    float:left;
}

.calendarstyle{
    margin-left:-34px;
    float:left;
}

.locstyle{
        margin-right:5px;
        float:left;
        margin-top:10px;
    }


    .col-4{
        float:right;
    }

    .css-location {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: hsl(0,0%,100%);
        border-color: hsl(0,0%,80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: flex; 
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        color: hsl(0,0%,50%);
        width:85%;
        font-size:0.45cm;
    }

    .lochead{
        margin-top:20px;
        margin-left:30px;
        font-family:'Lucida Sans Unicode';
        font-size:1.2em;
        color:#fff;
    }

    .yearhead{
        margin-top:20px;
        font-family:'Lucida Sans Unicode';
        font-size:1.2em;
        color:#fff;
    }
    
    .backgroundStyle{
        background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4 30%,#7AA1D2 70%);
        width:80%;
        margin-left:10%;
    }

   .submitButton{
       margin-left:80%;
       width: 150%;
       margin-bottom:5%;
       margin-top:-4%;
   }
   
   .logoutbutton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-left:90%;
    margin-top:30%;
  }

  .logoutbutton:hover{
      color:white;
      text-decoration: none;
      box-shadow: -0.5px 2px 4px 3px #888888;
  }

  .columnStyle{
      margin-top:10px;
  }

  .quality1{
    margin-left:30px;
    font-family:'Lucida Sans Unicode';
    font-size:1.2em;
    color:#fff;
    margin-top:-40px;
}

.year-input{
    margin-top:6px !important;
    margin-bottom:6px !important;
    font-size:large !important;
    color:hsl(0,0%,50%) !important;

}