form{
    width:90%;
    margin-left:110px;
    
}

.quality{
    margin-left:30px;
    font-family:'Lucida Sans Unicode';
    font-size:1.2em;
    color:#fff;
    margin-top:20px;
}

.deliveryunit{
    width:85%;
    margin-left:30px;
}

.sname{
    margin-top:30px;
    margin-bottom:-20px;
}

.serviceInfo{
    margin-left:35%;
    align-content: center;
    margin-bottom: 30px;
    font-family:American Typewriter, serif;
    color:#fff;
}

.mname{
    margin-top:-20px;
    margin-bottom:-20px;
}

.yearpick{
    margin-top:-20px;
    margin-left:30px;
}

.iconstyle{
    margin-right:5px;
    margin-left:-10px;
    float:left;
}

.calendarstyle{
    margin-left:-25px;
    float:left;
}

.locstyle{
        margin-right:5px;
        float:left;
        margin-top:10px;
    }


    .col-4{
        float:right;
    }

    .css-location {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: hsl(0,0%,100%);
        border-color: hsl(0,0%,80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: flex; 
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        color: hsl(0,0%,50%);
        width:85%;
        font-size:0.45cm;
    }

    .lochead{
        margin-top:20px;
        margin-left:30px;
        font-family:'Lucida Sans Unicode';
        font-size:1.2em;
        color:#fff;
    }

    .yearhead{
        margin-top:20px;
        font-family:'Lucida Sans Unicode';
        font-size:1.2em;
        color:#fff;
    }
    
    .backgroundStyle{
        background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4 30%,#7AA1D2 70%);
        width:80%;
        margin-left:10%;
    }

   .submitButton{
       margin-left:22%;
       width: 150%;
       margin-bottom:5%;
   }
   