form{
    width:50%;
    margin-left:110px;
}

.buttonstyle{
    margin-left:250px;
    margin-top:20px;
}

.quality{
    margin-left:30px;
}

.deliveryunit{
    width:85%;
    margin-left:30px;
}

.sname{
    margin-top:30px;
    margin-bottom:-20px;
}

.serviceInfo{
    margin-left:500px;
    align-content: center;
}

.mname{
    margin-top:-30px;
    margin-bottom:-20px;
}

.yearpick{
    margin-top:-30px;
    margin-left:30px;
}

.iconstyle{
    margin-right:5px;
    margin-left:-10px;
    float:left;
}

.calendarstyle{
    margin-left:-25px;
    float:left;
}

.locstyle{
        margin-right:5px;
        float:left;
    }


    .col-4{
        float:right;
    }

    .css-location {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: hsl(0,0%,100%);
        border-color: hsl(0,0%,80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: flex; 
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        color: hsl(0,0%,50%);
        width:85%;
        font-size:0.45cm;
    }
